.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden
}
.imageContainer {
    width: 30%;
    height: 100%;
}

.pelicula {
    border-radius: 20px;
}

.titulo-pelicula {
  font-family: 'Times New Roman', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #1F618D;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .escoger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .contenedor-pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 5%;
  }
  
  .contenedor-pantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAECEE;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 1750px;
    height: 800px;
  }
  
  .titulo-pantalla {
    width: 500px;
    height: 15px;
    background-color: black;
    border-radius: 15px;
    margin-top: 0px;
  }
  
  .pantalla {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #566573;
    margin-bottom: 50px;
    font-family: 'Times New Roman' ,cursive;
  }
  
  .contenedor-sillas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .silla {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    all: unset;
  }

  .silla{
    cursor: pointer;
  }
  
  .silla-disponible {
    background-color: #97d38d;
  }
  
  .silla-seleccionada {
    background-color: #fff;
    border: 2px solid #0099ff;
  }
  
  .silla-reservada {
    background-color: #ff9999;
  }
  
  .contenedor-guia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: 'Times New Roman' ,cursive;
  }
  
  .silla-img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  
  .sillas-seleccionadas {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  .contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .boton-comprar {
    font-size: 1.2rem;
    background-color: #0099ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton-comprar:hover {
    background-color: #0077cc;
  }
  
