.home{
    width: 100%;
    height: 100vh;
    background: rgb(214,213,227);
    background: linear-gradient(
        90deg,
        rgba(214,213,227,1) 5%, 
        rgba(168,168,219,1) 55%, rgba(37,133,153,1) 93%);
}